/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

  @keyframes opacity-animation {
	0% {
        opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes movement-animation {
	0% {
        transform: translate(100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
@keyframes movement-animation-left {
	0% {
        transform: translate(-100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
/* Variables */
:root{
	/* ## Colors */
	--black: hsl(230, 35%, 7%);
	--gray: hsl(231, 77%, 90%);
	--white: hsl(0, 0%, 100%);

	/* Fonts */
	--condensed: 'Barlow Condensed', sans-serif;
	--barlow: 'Barlow', sans-serif;
	--bellefair: 'Bellefair', serif;
	--light: 300;
	--regular: 400;
	--semibold: 600;
	--bold: 700;
}

/* Buttons */

/* Design */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--bellefair);
	font-weight: var(--regular);
}
.destination{
	width: 100vw;
	height: 226.67vw;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.destination::-webkit-scrollbar {
	width: 0;
}
.destination-page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10.35% 60.82% 28.83%;
	grid-template-columns: 100%;
	background-image: url('../assets/destination/background-destination-mobile.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.masthead{
	height: 88px;
	padding: 6.4%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 22.32% 77.68%;
}
.masthead .logo{
	justify-self: start;
	align-self: stretch;
}
.masthead .logo img{
	height: 40px;
	width: 40px;
	object-fit: contain;
}
.masthead .menu-toggle{
	justify-self: end;
	align-self: center;
	z-index: 2;
}
.masthead .menu-toggle img{
	height: 52.5%;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}
.masthead .menu-toggle:hover{
	cursor: pointer;
}
.masthead .main-navigation{
	grid-column: 1/3;
	display: grid;
	align-self: start;
	justify-self: end;
	width: 67.73%;
	height: 100vh;
	color: var(--white);
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}
.masthead .open {
    transform: translateX(0);
	transition: transform 500ms ease-in-out;
}
.masthead .main-navigation ul{
	padding: 46.46% 0 148.43% 12.6%;
	display: grid;
	grid-template-rows: repeat(4, 11.05%);
	grid-template-columns: 100%;
	grid-row-gap: 18.6%;
}
.masthead .main-navigation ul li{
	align-self: stretch;
	justify-self: stretch;
	display: grid;
	grid-template-columns: 14.21% 85.79%;
	grid-template-rows: 100%;
}
.masthead .main-navigation ul li span{
	justify-self: start;
	align-self: stretch;
	font-family: var(--condensed);
	font-weight: var(--bold);
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2.7px;
	line-height: normal;
	color: var(--white);
}
.masthead .main-navigation ul li a{
	justify-self: start;
	align-self: stretch;
	font-family: var(--condensed);
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2.7px;
	line-height: normal;
	text-transform: uppercase;
	color: var(--white);
}
.masthead .main-navigation ul li:hover{
	border-right: 1px solid var(--gray);
}
.masthead .main-navigation ul .active{
	border-right: 2px solid var(--white);
}
.masthead .main-navigation ul .active a{
	font-weight: var(--bold);
}
.main{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 9.86% 37.92% 9.28% 42.94%;
	grid-template-columns: 100%;
	padding: 0 6.4%;
}
.main .entry-tittle{
	justify-self: center;
	align-self: stretch;
	width: 67.89%;
	display: grid;
	grid-template-columns: 6.78% 83.27%;
	grid-template-rows: 100%;
	grid-column-gap: 9.95%;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: var(--condensed);
	letter-spacing: 2.7px;
	text-transform: uppercase;
}
.main .entry-tittle .entry-tittle-number{
	justify-self: start;
	align-self: start;
	color: var(--gray);
	font-weight: var(--bold);
}
.main .entry-tittle .entry-tittle-description{
	justify-self: start;
	align-self: start;
	color: var(--white);
}
.main .entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
	padding-bottom: 7.95%;
	display: none;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	animation:  movement-animation .5s ease-in-out, opacity-animation 1s ease-in-out;
	-webkit-animation: movement-animation .5s ease-in-out, opacity-animation 1s ease-in-out;
}
.main .entry-thumbnail img{
	justify-self: stretch;
	align-self: stretch;
	object-fit: contain;
	object-position: center;
}
.main .entry-links{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
}
.main .entry-links ul{
	justify-self: center;
	align-self: stretch;
	width: 72.63%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(4, 25%);
}
.main .entry-links ul li{
	justify-self: center;
	align-self: start;
	width: auto;
	height: 58.33%;
	display: grid;
}
.main .entry-links ul li a{
	justify-self: center;
	align-self: start;
	font-size: 14px;
	font-size: 0.875rem;
	font-family: var(--condensed);
	letter-spacing: 2.36px;
	text-transform: uppercase;
	color: var(--gray);
}
.main .entry-links ul li:hover{
	border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
}
.main .entry-links ul .active {
	border-bottom: 3px solid var(--white);
}
.main .entry-links ul .active a{
	color: var(--white);
}
.main .entry-description{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 33.68% 66.32%;
	grid-template-columns: 100%;
	padding-bottom: 9.79%;
	border-bottom: 1px solid #383F4B;
}
.main .entry-description .entry-description-tittle{
	justify-self: center;
	align-self: stretch;
	font-size: 56px;
	font-size: 3.5rem;
	line-height: normal;
	text-transform: uppercase;
	color: var(--white);
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 100ms;
}
.main .entry-description .entry-description-summary{
	justify-self: center;
	align-self: stretch;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: var(--barlow);
	line-height: 25px;
	color: var(--gray);
	text-align: center;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 300ms;
}
.properties{
	padding: 8.53% 0 15.73%;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: repeat(2, 39.35%);
	grid-template-columns: 100%;
	grid-row-gap: 21.3%;
}
.properties .entry-property{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 27.87% 52.46%;
	grid-template-columns: 100%;
	grid-row-gap: 19.67%;
}
.properties .entry-property .entry-key{
	justify-self: center;
	align-self: stretch;
	font-family: var(--condensed);
	font-size: 14px;
	font-size: 0.875rem;
	letter-spacing: 2.36px;
	line-height: normal;
	color: var(--gray);
	text-transform: uppercase;
}
.properties .entry-property .entry-distance, .entry-time{
	justify-self: center;
	align-self: stretch;
	font-size: 28px;
	font-size: 1.75rem;
	line-height: normal;
	color: var(--white);
	text-transform: uppercase;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 300ms;
}

/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
	
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) {
	.destination{
		width: 100vw;
		height: 133.33vw;
	}
	.destination-page{
		grid-template-rows: 9.37% 75.78% 14.85%;
		grid-template-columns: 100%;
		background-image: url('../assets/destination/background-destination-tablet.jpg');
	}
	.masthead{
		height: 96px;
		padding: 0 0 0 5.08%;
		grid-template-columns: 40.43% 59.57%;
	}
	.masthead .logo{
		padding: 8.14% 0;
	}
	.masthead .logo img{
		width: 48px;
		height: 48px;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		grid-column: 2/3;
		display: grid;
		align-self: stretch;
		justify-self: stretch;
		width: 100%;
		height: 100%;
		position: relative;
		background-color: hsl(0, 0%, 100%, .04);
		transform: translateX(0);
	}
	.masthead .main-navigation ul{
		padding: 0;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 100%;
		grid-row-gap: 0;
	}
	.masthead .main-navigation ul li{
		align-self: stretch;
		justify-self: stretch;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	.masthead .main-navigation ul li span{
		display: none;
	}
	.masthead .main-navigation ul li a{
		align-self: center;
		justify-self: center;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 2.36px;
	}
	.masthead .main-navigation ul li:hover{
		border-right: none;
	}
	.masthead .main-navigation ul .active{
		border-right: none;
	}
	.masthead .main-navigation ul .active a{
		position: relative;
		align-self: end;
	}
	.masthead .main-navigation ul .active a::after{
		content: "";
		display: block; 
		margin: 36px auto 0;
		width: 100%;
		border-bottom: 3px solid var(--white);
	}
	.main{
		grid-template-rows: 11.55% 47.96% 8.97% 31.52%;
		grid-template-columns: 100%;
		padding: 5.21% 5.01% 0;
	}
	.main .entry-tittle{
		justify-self: start;
		align-self: stretch;
		width: 100%;
		grid-template-columns: 2.75% 94.5%;
		grid-template-rows: 100%;
		grid-column-gap: 2.75%;
		font-size: 20px;
		font-size: 1.25rem;
		letter-spacing: 3.38px;
	}
	.main .entry-thumbnail{
		padding-bottom: 7.67%;
	}
	.main .entry-links ul{
		width: 41.32%;
	}
	.main .entry-links ul li{
		height: 51.52%;
	}
	.main .entry-links ul li a{
		font-size: 16px;
		font-size: 1rem;
		letter-spacing: 2.7px;
	}
	.main .entry-description{
		grid-template-rows: 50% 45.65%;
		grid-template-columns: 100%;
		grid-row-gap: 4.35%;
		padding: 0 8.53% 7.09%;
	}
	.main .entry-description .entry-description-tittle{
		font-size: 80px;
		font-size: 5rem;
	}
	.main .entry-description .entry-description-summary{
		font-size: 16px;
		font-size: 1rem;
		line-height: 28px;
	}
	.properties{
		padding: 3.78% 21.15% 8.07%;
		grid-template-rows: 100%;
		grid-template-columns: repeat(2, 50%);
		grid-row-gap: 0;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1280px) {
	.destination{
		width: 100vw;
		height: 62.5vw;
	}
	.destination-page{
		padding: 2.78% 0 8.19%;
		grid-template-rows: 12.94% 78.84% 8.22%;
		grid-template-columns: 46.87% 42.23%;
		grid-column-gap: 10.9%;
		background-image: url('../assets/destination/background-destination-desktop.jpg');
	}
	.masthead{
		grid-row: 1/2;
		grid-column: 1/3;
		padding: 0 0 0 3.82%;
		grid-template-columns: 40.07% 59.93%;
	}
	.masthead .logo{
		padding: 4.33% 0;
	}
	.masthead .main-navigation ul{
		padding: 0 19.88% 0 19.64%;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 100%;
		grid-row-gap: 0;
	}
	.masthead .main-navigation ul li{
		grid-template-columns: 29px auto;
	}
	.masthead .main-navigation ul li span{
		display: block;
		align-self: center;
		justify-self: stretch;
	}
	.masthead .main-navigation ul li a{
		justify-self: start;
	}
	.masthead .main-navigation ul .active span{
		position: relative;
		align-self: end;
	}
	.masthead .main-navigation ul .active span::after{
		content: "";
		display: block; 
		margin: 36px auto 0;
		width: 29px;
		border-bottom: 3px solid var(--white);
	}
	.main{
		grid-row: 2/4;
		grid-column: 1/3;
		grid-template-rows: 17.19% 12.46% 54.56% 15.79%;
		grid-template-columns: 45.93% 39.89%;
		grid-column-gap: 14.18%;
		padding: 5.28% 11.32% 0 11.53%;
	}
	.main .entry-tittle{
		grid-row: 1/2;
		grid-column: 1/2;
		justify-self: stretch;
		align-self: stretch;
		grid-template-columns: 10.59% 89.41%;
		grid-template-rows: 100%;
		grid-column-gap: 0;
		font-size: 28px;
		font-size: 1.75rem;
		letter-spacing: 4.72px;
	}
	.main .entry-thumbnail{
		grid-row: 2/5;
		grid-column: 1/2;
		align-self: end;
		justify-self: end;
		padding: 0;
		animation:  movement-animation-left .5s ease-in-out, opacity-animation 1s ease-in-out;
		-webkit-animation: movement-animation-left .5s ease-in-out, opacity-animation 1s ease-in-out;
	}
	.main .entry-links{
		grid-row: 2/3;
		grid-column: 2/3;
	}
	.main .entry-links ul{
		justify-self: start;
		width: 64.3%;
	}
	.main .entry-description{
		grid-row: 3/4;
		grid-column: 2/3;
		grid-template-rows: 44.75% 49.81%;
		grid-template-columns: 100%;
		grid-row-gap: 5.44%;
		padding: 0 0 10.62%;
	}
	.main .entry-description .entry-description-tittle{
		justify-self: start;
		font-size: 100px;
		font-size: 6.25rem;
	}
	.main .entry-description .entry-description-summary{
		justify-self: start;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		text-align: start;
		padding: 0;
	}
	.properties{
		padding: 0 27.38% 0 0;
		grid-row: 3/4;
		grid-column: 2/3;
	}
	.properties .entry-property .entry-key{
		justify-self: start;
	}
	.properties .entry-property .entry-distance, .entry-time{
		justify-self: start;
	}
}