/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

  @keyframes opacity-animation {
	0% {
        opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes movement-animation {
	0% {
        transform: translate(100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
/* Variables */
:root{
	/* ## Colors */
	--black: hsl(230, 35%, 7%);
	--gray: hsl(231, 77%, 90%);
	--white: hsl(0, 0%, 100%);

	/* Fonts */
	--condensed: 'Barlow Condensed', sans-serif;
	--barlow: 'Barlow', sans-serif;
	--bellefair: 'Bellefair', serif;
	--light: 300;
	--regular: 400;
	--semibold: 600;
	--bold: 700;
}

/* Buttons */

/* Design */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--bellefair);
	font-weight: var(--regular);
}
.home{
	width: 100vw;
	height: 177.87vw;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.home::-webkit-scrollbar {
	width: 0;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 13.19% 48.56% 38.25%;
	grid-template-columns: 100%;
	background-image: url('../assets/home/background-home-mobile.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.masthead{
	height: 88px;
	padding: 6.4%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 22.32% 77.68%;
}
.masthead .logo{
	justify-self: start;
	align-self: stretch;
}
.masthead .logo img{
	width: 40px;
	height: 40px;
	object-fit: contain;
}
.masthead .menu-toggle{
	justify-self: end;
	align-self: center;
	z-index: 2;
}
.masthead .menu-toggle img{
	height: 52.5%;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}
.masthead .menu-toggle:hover{
	cursor: pointer;
}
.masthead .main-navigation{
	grid-column: 1/3;
	display: grid;
	align-self: start;
	justify-self: end;
	width: 67.73%;
	height: 100vh;
	color: var(--white);
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}
.masthead .open {
    transform: translateX(0);
	transition: transform 500ms ease-in-out;
}
.masthead .main-navigation ul{
	padding: 46.46% 0 148.43% 12.6%;
	display: grid;
	grid-template-rows: repeat(4, 11.05%);
	grid-template-columns: 100%;
	grid-row-gap: 18.6%;
}
.masthead .main-navigation ul li{
	align-self: stretch;
	justify-self: stretch;
	display: grid;
	grid-template-columns: 14.21% 85.79%;
	grid-template-rows: 100%;
}
.masthead .main-navigation ul li span{
	justify-self: start;
	align-self: stretch;
	font-family: var(--condensed);
	font-weight: var(--bold);
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2.7px;
	line-height: normal;
	color: var(--white);
}
.masthead .main-navigation ul li a{
	justify-self: start;
	align-self: stretch;
	font-family: var(--condensed);
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 2.7px;
	line-height: normal;
	text-transform: uppercase;
	color: var(--white);
}
.masthead .main-navigation ul li:hover{
	border-right: 1px solid var(--gray);
}
.masthead .main-navigation ul .active{
	border-right: 2px solid var(--white);
}
.masthead .main-navigation ul .active a{
	font-weight: var(--bold);
}
.main{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 12.68% 36.23% 51.09%;
	grid-template-columns: 100%;
	padding: 6.4%;
}
.main .entry-tittle{
	justify-self: center;
	align-self: start;
	font-size: 16px;
	font-size: 1rem;
	color: var(--gray);
	font-family: var(--condensed);
	letter-spacing: 2.7px;
	text-transform: uppercase;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 200ms;
}
.main .entry-main{
	justify-self: center;
	align-self: start;
	font-size: 86px;
	font-size: 5.375rem;
	color: var(--white);
	line-height: 100px;
	text-transform: uppercase;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 800ms;
}
.main .entry-summary{
	justify-self: center;
	align-self: start;
	font-size: 15px;
	font-size: 0.9375rem;
	color: var(--gray);
	font-family: var(--barlow);
	line-height: 25px;
	text-align: center;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 1500ms;
}
.explore{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	padding: 6.4%;
}
.explore .main-button{
	justify-self: center;
	align-self: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: var(--white);
	color: var(--black);
	font-size: 20px;
	font-size: 1.25rem;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	opacity: 0;
	animation: opacity-animation 1s ease-in-out forwards;
	-webkit-animation: opacity-animation 1s ease-in-out forwards;
	animation-delay: 2000ms;
}
.explore .main-button:hover{
	cursor: pointer;
	box-shadow: 0 0 0 1.64em rgba(255, 255, 255, 0.1036);
}

/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
	
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 767px) {
	.home{
		height: 133.33vw;
	}
	.page{
		grid-template-rows: 9.37% 49.41% 41.22%;
		background-image: url('../assets/home/background-home-tablet.jpg');
	}
	.masthead{
		height: 96px;
		padding: 0 0 0 5.08%;
		grid-template-columns: 40.43% 59.57%;
	}
	.masthead .logo{
		padding: 8.14% 0;
	}
	.masthead .logo img{
		width: 48px;
		height: 48px;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		grid-column: 2/3;
		display: grid;
		align-self: stretch;
		justify-self: stretch;
		width: 100%;
		height: 100%;
		position: relative;
		background-color: hsl(0, 0%, 100%, .04);
		transform: translateX(0);
	}
	.masthead .main-navigation ul{
		padding: 0;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 100%;
		grid-row-gap: 0;
	}
	.masthead .main-navigation ul li{
		align-self: stretch;
		justify-self: stretch;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	.masthead .main-navigation ul li span{
		display: none;
	}
	.masthead .main-navigation ul li a{
		align-self: center;
		justify-self: center;
		font-size: 14px;
		font-size: 0.875rem;
		letter-spacing: 2.36px;
	}
	.masthead .main-navigation ul li:hover{
		border-right: none;
	}
	.masthead .main-navigation ul .active{
		border-right: none;
	}
	.masthead .main-navigation ul .active a{
		position: relative;
		align-self: end;
	}
	.masthead .main-navigation ul .active a::after{
		content: "";
		display: block; 
		margin: 36px auto 0;
		width: 100%;
		border-bottom: 3px solid var(--white);
	}
	.main{
		grid-template-rows: 14.37% 52.1% 33.53%;
		grid-template-columns: 100%;
		padding: 13.8% 20.7% 8.59%;
	}
	.main .entry-tittle{
		font-size: 20px;
		font-size: 1.25rem;
		letter-spacing: 3.38px;
	}
	.main .entry-main{
		font-size: 150px;
		font-size: 9.375rem;
		line-height: 150px;
	}
	.main .entry-summary{
		font-size: 16px;
		font-size: 1rem;
		line-height: 28px;
	}
	.explore{
		padding: 11.72% 34.24%;
	}
	.explore .main-button{
		width: 242px;
		height: 242px;
		font-size: 32px;
		font-size: 2rem;
		letter-spacing: 2px;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1280px) {
	.home{
		width: 100vw;
		height: 62.5vw;
	}
	.page{
		padding: 2.78% 0 9.1%;
		grid-template-rows: 13.17% 86.83%;
		grid-template-columns: 42.71% 30.49%;
		grid-column-gap: 26.8%;
		background-image: url('../assets/home/background-home-desktop.jpg');
	}
	.masthead{
		grid-row: 1/2;
		grid-column: 1/3;
		padding: 0 0 0 3.82%;
		grid-template-columns: 40.07% 59.93%;
	}
	.masthead .logo{
		padding: 4.33% 0;
	}
	.masthead .main-navigation ul{
		padding: 0 19.88% 0 19.64%;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 100%;
		grid-row-gap: 0;
	}
	.masthead .main-navigation ul li{
		grid-template-columns: 29px auto;
	}
	.masthead .main-navigation ul li span{
		display: block;
		align-self: center;
		justify-self: stretch;
	}
	.masthead .main-navigation ul li a{
		justify-self: start;
	}
	.masthead .main-navigation ul .active span{
		position: relative;
		align-self: end;
	}
	.masthead .main-navigation ul .active span::after{
		content: "";
		display: block; 
		margin: 36px auto 0;
		width: 29px;
		border-bottom: 3px solid var(--white);
	}
	.main{
		grid-row: 2/3;
		grid-column: 1/2;
		grid-template-rows: 15.18% 51.31% 33.51%;
		grid-template-columns: 100%;
		padding: 40.81% 0 0 26.83%;
	}
	.main .entry-tittle{
		justify-self: start;
		font-size: 28px;
		font-size: 1.75rem;
		letter-spacing: 4.72px;
	}
	.main .entry-main{
		justify-self: start;
		font-size: 150px;
		font-size: 9.375rem;
		line-height: auto;
	}
	.main .entry-summary{
		justify-self: start;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		text-align: start;
	}
	.explore{
		padding: 81.77% 37.59% 0 0;
	}
	.explore .main-button{
		width: 274px;
		height: 274px;
	}
}